@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --dark-blue: #00083B;
  --red: #F24C57;
  --grey: #A3A6B4;
  --red-gradient: linear-gradient(135deg, var(--red), #F24CA5);
  --blue-gradient: linear-gradient(135deg, var(--dark-blue), #041168);
  --light-mcol-gradient: linear-gradient(135deg, #FC0011, #6953FE, #FC0011);
  --mcol-gradient: linear-gradient(135deg, var(--red), #1800BC);
  --red-box-shadow: 0 0 25px var(--red);
  --red-box-shadow-down: 0 5px 25px var(--red);
  --font-family: "Montserrat", "Roboto", sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Portrait laptop to large desktop */
/* Large desktop */
/* === HERO CHANGING BACKGROUND === */
/* Portrait tablet to landscape and desktop */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    max-width: 850px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .container {
    max-width: 1050px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

/* === FLEX === */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* === SPACES === */
.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.al-center {
  align-items: center;
}

/* === BUTTONS === */
.btn {
  color: #FFF;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.7rem;
}
.btn_container {
  height: 50px;
  border-radius: 30px;
  text-align: center;
  padding-top: 1.2rem;
}
@media (max-width: 767px) {
  .btn_container {
    padding-top: 1.3rem;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .btn_container {
    width: 250px;
    padding-top: 1.5rem;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .btn_container {
    width: 250px;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .btn_container {
    width: 325px;
  }
}
.btn-red {
  background-image: var(--red-gradient);
  box-shadow: var(--red-box-shadow);
  transition: all 0.3s ease-in-out;
}
.btn-red:hover {
  transform: translateY(-5px);
  box-shadow: var(--red-box-shadow-down);
}
@media (min-width: 1200px) {
  .btn {
    font-size: 2rem;
  }
}

/* === TITLE === */
.title_container {
  text-align: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.title-big {
  color: var(--dark-blue);
  font-size: 5rem;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 9rem;
}
.title-big::before {
  content: "";
  display: block;
  height: 5px;
  width: 40%;
  background-image: var(--mcol-gradient);
  border-radius: 5px;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
@media (max-width: 767px) {
  .title-big {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}

/* === CLASSES === */
.overflow-hidden {
  overflow: hidden;
}

/* === GO SECTION === */
.go {
  background-color: var(--dark-blue);
  color: #fff;
  text-align: center;
  padding: 7rem 0 5rem;
  margin-top: 2rem;
}
.go .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.go h3 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.go p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.go .btn {
  font-size: 2rem;
}
.go .btn_container {
  padding-top: 1.2rem;
  width: 250px !important;
}

/* === FEEDBACKS === */
.feedbacks {
  margin-top: 9rem;
  margin-bottom: 10rem;
}
.feedbacks_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 481px) {
  .feedbacks_container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.feedbacks article {
  width: 100%;
  margin-top: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .feedbacks article {
    width: 45%;
  }
  .feedbacks article:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .feedbacks article {
    width: 30%;
    margin-top: 2rem;
  }
}
.feedbacks article::before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: transparent no-repeat url(../assets/images/icon-feedbacks.svg);
  background-size: contain;
  position: absolute;
  top: -2.5rem;
  left: 3rem;
}
.feedbacks article img {
  width: 4rem;
  margin-bottom: 1rem;
}
.feedbacks article .brand-name {
  font-size: 2rem;
  font-weight: 600;
}
.feedbacks article .brand-desc {
  color: var(--grey);
  font-size: 1.4rem;
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--grey);
}
.feedbacks article .brand-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  padding-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 979px) {
  .feedbacks article .brand-text {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

/* === LEVEL UP === */
.level-up {
  background: transparent linear-gradient(135deg, #C63942, #1800BC);
  padding: 7rem 0 4rem;
  margin-bottom: 30rem;
  color: #FFF;
}
.level-up > div {
  position: relative;
}
.level-up > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 9rem;
  height: 9rem;
  background: transparent url(../assets/images/fusee-icon.png) no-repeat center;
  background-size: contain;
  top: -10rem;
  right: 10rem;
}
@media (min-width: 768px) and (max-width: 979px) {
  .level-up > div::after {
    width: 8rem;
    height: 8rem;
    right: 3rem;
  }
}
@media (max-width: 480px) {
  .level-up > div::after {
    left: 50%;
    transform: translateX(-50%);
    top: -11rem;
  }
}
.level-up h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.level-up h3 {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 2rem 0 3rem;
}
.level-up .badge_container {
  justify-content: flex-end;
  padding-bottom: 0;
}
@media (max-width: 900px) {
  .level-up .badge_container {
    justify-content: center;
  }
  .level-up .badge_container img {
    width: 15rem;
  }
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--text);
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* === HEADER === */
header {
  padding-top: 2.5rem;
}
header .logo {
  display: flex;
  align-items: center;
}
header.active {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
header.active .navbar_content {
  display: flex;
  flex-direction: column;
  height: 50vh;
  font-size: 2rem;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50%) translateY(-50%);
}
header.active .navbar_content > li.run-transition {
  transition: opacity 0.2s linear;
  opacity: 1;
}
header .navbar {
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.75rem;
}
header .navbar_content {
  width: 55%;
}
@media (max-width: 900px) {
  header .navbar_content {
    display: none;
  }
}
header .navbar_link {
  font-weight: 600;
}
header .navbar_cta {
  font-weight: 700;
}
header .navbar_cta-container {
  background-color: var(--dark-blue);
  border-radius: 3rem;
  padding: 1.2rem 2.5rem 1.1rem;
  position: relative;
}
header .navbar_cta-container::before {
  content: "";
  display: block;
  border-radius: inherit;
  box-shadow: var(--red-box-shadow);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-2px) translateY(-2px);
  background-image: var(--light-mcol-gradient);
  background-position: left;
  background-size: 200%;
  transition: background-position 0.3s ease-in-out;
}
header .navbar_cta-container:hover::before {
  background-position: right;
}
header .navbar .burger-menu {
  display: flex;
  flex-direction: column;
  width: 28px;
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 1.75rem;
  z-index: 10000;
}
@media (min-width: 900px) {
  header .navbar .burger-menu {
    display: none;
  }
}
header .navbar .burger-menu .icon_burger-top, header .navbar .burger-menu .icon_burger-bottom, header .navbar .burger-menu .icon_burger-mid {
  background: #fff;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  width: 100%;
  transform-origin: center left;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
header .navbar .burger-menu input[type=checkbox] {
  display: none;
}
header .navbar .burger-menu input[type=checkbox]:checked ~ .icon_burger-top {
  transform: rotate(0.125turn);
}
header .navbar .burger-menu input[type=checkbox]:checked ~ .icon_burger-mid {
  transform: translateX(17.5px);
  opacity: 0;
}
header .navbar .burger-menu input[type=checkbox]:checked ~ .icon_burger-bottom {
  transform: rotate(-0.125turn);
}

/* === HERO === */
.hero {
  background: var(--blue-gradient);
  position: relative;
  z-index: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.hero h1 {
  color: #FFF;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 7rem;
}
@media (max-width: 767px) {
  .hero h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 900px) {
  .hero h1 {
    width: 100%;
  }
}
.hero .container-ctas {
  column-gap: 4rem;
  margin-bottom: 6rem;
}
@media (max-width: 767px) {
  .hero .container-ctas {
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .hero .container-ctas .btn_container {
    padding-top: 0.7rem;
    height: 35px;
    border-radius: 25px;
  }
  .hero .container-ctas .btn_container .btn {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  .hero .container-ctas {
    justify-content: center;
    margin-bottom: 3rem;
  }
}
.hero-content {
  padding-top: 11rem;
}
@media (max-width: 767px) {
  .hero-content {
    padding-top: 4rem;
  }
}
.hero-content .hero_left {
  width: 75%;
}
@media (max-width: 767px) {
  .hero-content .hero_left {
    width: 100%;
  }
}
.hero-content .hero_right {
  width: 25%;
  height: auto;
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .hero-content .hero_right {
    max-width: 170px;
    width: 50%;
    margin: 0 auto 3rem;
  }
}
@media (max-width: 767px) {
  .hero-content {
    padding-top: 5rem;
  }
}
@media (min-width: 420px) and (max-width: 767px) {
  .hero .container-ctas {
    align-items: center;
  }
  .hero .container-ctas .btn_container {
    width: 350px;
  }
}

/* === BADGES STORES === */
.badge_container {
  padding-bottom: 12rem;
  column-gap: 2.5rem;
  row-gap: 2rem;
}
@media (max-width: 900px) {
  .badge_container {
    justify-content: center;
    padding-bottom: 9rem;
  }
}
.badge-store img {
  width: 15rem;
}
@media (max-width: 767px) {
  .badge-store img {
    width: 10.5rem;
  }
}

/* === FEATURES === */
.features {
  padding: 8rem 0;
}
.features_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 5rem;
  align-items: center;
  justify-items: center;
}
@media (max-width: 900px) {
  .features_block {
    grid-template-columns: repeat(2, 1fr);
  }
}
.features-article {
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .features-article {
    width: 15rem;
  }
}
.features-article img {
  width: 7rem;
  height: auto;
  margin-bottom: 1.5rem;
}
.features-article p {
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

/* === FIXING ISSUE WITH THE HEIGHT === */
.campain h2 {
  margin-top: 8rem;
}
.campain .block {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .campain .block:nth-child(1n) {
    flex-direction: column !important;
    justify-content: center;
  }
}
.campain .block .infos {
  width: 48%;
}
@media (max-width: 767px) {
  .campain .block .infos {
    width: 75%;
  }
}
.campain .block .infos img {
  width: 50px;
  height: auto;
  margin: 0 auto 2.5rem;
}
.campain .block .infos h3 {
  margin-bottom: 2.5rem;
  text-align: center;
}
.campain .block .infos ul {
  justify-content: center;
  row-gap: 2.5rem;
  margin-top: 2rem;
}
.campain .block .infos_num {
  font-size: 0.85em;
}
.campain .block .mockup {
  width: 48%;
}
@media (max-width: 767px) {
  .campain .block .mockup {
    width: 60%;
  }
  .campain .block .mockup img {
    margin: 4rem auto 6rem !important;
  }
}
.campain .block .mockup img {
  margin: 0 auto;
}
.campain .block:nth-child(odd) {
  flex-direction: row;
}
.campain .block:nth-child(even) {
  flex-direction: row-reverse;
}
.campain .block:nth-child(1) .infos p {
  text-align: center;
}
.campain .block:nth-child(1) .infos li {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 5px 10px #d9d9d9;
  margin-right: 2rem;
}
.campain .block:nth-child(2) .infos > div {
  justify-content: center;
}
.campain .block:nth-child(2) .infos > div img {
  margin: 0 0 2.5rem;
}
.campain .block:nth-child(2) .infos > div img:first-child {
  margin-right: 4rem;
}
.campain .block:nth-child(2) p {
  margin-bottom: 1.5rem;
}
.campain .block:nth-child(3) ul {
  list-style-type: disc;
}
.campain .block:nth-child(3) ul li {
  margin-bottom: 1rem;
  margin-left: 16px;
}
.campain .block:nth-child(3) ul li span {
  font-weight: 600;
  font-size: 0.9em;
}
.campain .block:nth-child(4) p {
  margin-bottom: 1rem;
}
.campain .block:nth-child(5) ul {
  list-style-type: disc;
}
.campain .block:nth-child(5) ul li {
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
