:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text);
    font-family: var(--font-family);
}

ul {
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}