/* === HEADER === */
header {
    padding-top: 2.5rem;
    // transition: all .3s linear;
    // background-color: transparent;

    &.active {
        width: 100vw;
        height: 100vh;
        background-color: var(--dark-blue);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding-left: 1.6rem;
        padding-right: 1.6rem;

        .navbar_content {
            display: flex;
            flex-direction: column;
            height: 50vh;
            font-size: 2rem;

            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translateX(-50%) translateY(-50%);
            &>li.run-transition {
                transition: opacity .2s linear;
                opacity: 1;
            }
        }
    }

    .navbar {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.75rem;

        &_content {
            width: 55%;

            @include md-hp {
                display: none;
            }

        }

        &_link {
            font-weight: 600;
        }

        &_cta {
            font-weight: 700;

            &-container {
                background-color: var(--dark-blue);
                border-radius: 3rem;
                padding: 1.2rem 2.5rem 1.1rem;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    background-image: var(--light-mcol-gradient);
                    border-radius: inherit;
                    box-shadow: var(--red-box-shadow);
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    z-index: -1;

                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-2px) translateY(-2px);
                }
            }
        }


        .burger-menu {
            display: flex;

            @media (min-width: 900px) {
                display: none;
            }

            flex-direction: column;
            width: 28px;
            cursor: pointer;

            position: absolute;
            top: 2.5rem;
            right: 1.75rem;
            z-index: 10000;

            .icon_burger {

                &-top,
                &-bottom,
                &-mid {
                    background: #fff;
                    border-radius: 10px;
                    height: 4px;
                    margin: 3px 0;
                    width: 100%;

                    transform-origin: center left;
                    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
                }

            }

            input[type="checkbox"] {
                display: none;

                &:checked~.icon_burger-top {
                    transform: rotate(.125turn);
                }

                &:checked~.icon_burger-mid {
                    transform: translateX(17.5px);
                    opacity: 0;
                }

                &:checked~.icon_burger-bottom {
                    transform: rotate(-.125turn);
                }
            }
        }
    }
}