@import "fonts";
@import "variables";
@import "reset";
@import "media-queries";
@import "classes";
@import "components";
@import "base";
@import "header";
@import "index";
@import "marques";

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}